.navigation-links1-nav {
  flex: 0 0 auto;
  width: 109px;
  height: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-root-class-name {
  top: 53px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}
.navigation-links1-root-class-name1 {
  top: 53px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}
@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}








.navigation-links-root-class-name8 {
  top: -8px;
  left: -117px;
  position: absolute;
}

.navigation-links-root-class-name10 {
  top: -8px;
  left: -117px;
  position: absolute;
}


@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.evaluare-cadru-didactic-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: rgba(216, 213, 213, 0.85);
}
.evaluare-cadru-didactic-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: rgba(239, 10, 10, 0.36);
}
.evaluare-cadru-didactic-image {
  width: 123px;
  height: 50px;
}
.evaluare-cadru-didactic-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.evaluare-cadru-didactic-burger-menu {
  display: none;
}
.evaluare-cadru-didactic-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.evaluare-cadru-didactic-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.evaluare-cadru-didactic-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.evaluare-cadru-didactic-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.evaluare-cadru-didactic-image1 {
  height: 2rem;
}
.evaluare-cadru-didactic-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.evaluare-cadru-didactic-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.evaluare-cadru-didactic-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.evaluare-cadru-didactic-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.evaluare-cadru-didactic-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.evaluare-cadru-didactic-form {
  width: 508px;
  height: 301px;
  position: relative;
}
.evaluare-cadru-didactic-input {
  border-width: 0px;
  background-color: rgba(216, 213, 213, 0.85);
}
.evaluare-cadru-didactic-textinput {
  border-width: 0px;
  background-color: rgba(216, 213, 213, 0.85);
}
.evaluare-cadru-didactic-textinput1 {
  border-width: 0px;
  background-color: rgba(216, 213, 213, 0.85);
}
.evaluare-cadru-didactic-textinput2 {
  border-width: 0px;
  background-color: rgba(216, 213, 213, 0.85);
}
.evaluare-cadru-didactic-textinput3 {
  border-width: 0px;
  background-color: rgba(216, 213, 213, 0.85);
}
.evaluare-cadru-didactic-textinput4 {
  border-width: 0px;
  background-color: rgba(216, 213, 213, 0.85);
}
.evaluare-cadru-didactic-textinput5 {
  border-width: 0px;
  background-color: rgba(216, 213, 213, 0.85);
}
.evaluare-cadru-didactic-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.evaluare-cadru-didactic-submit {
  width: 140px;
  border-width: 0px;
  background-color: rgba(216, 213, 213, 0.85);
}
.evaluare-cadru-didactic-button {
  width: 110px;
  border-width: 0px;
  background-color: rgba(216, 213, 213, 0.85);
}
.evaluare-cadru-didactic-label {
  top: 6px;
  left: 273px;
  position: absolute;
}
.evaluare-cadru-didactic-text3 {
  top: 40px;
  left: 273px;
  position: absolute;
}
.evaluare-cadru-didactic-text4 {
  left: 274px;
  bottom: 208px;
  position: absolute;
}
.evaluare-cadru-didactic-text5 {
  top: 109px;
  left: 275px;
  position: absolute;
}
.evaluare-cadru-didactic-text6 {
  top: 143px;
  left: 277px;
  position: absolute;
}
.evaluare-cadru-didactic-label1 {
  top: 177px;
  left: 277px;
  position: absolute;
}
.evaluare-cadru-didactic-text7 {
  left: 278px;
  bottom: 72px;
  position: absolute;
}
.evaluare-cadru-didactic-footer {
  top: 401px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 202px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: rgba(239, 10, 10, 0.36);
}
.evaluare-cadru-didactic-container3 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.evaluare-cadru-didactic-image2 {
  width: 186px;
  height: 55px;
  margin-bottom: var(--dl-space-space-twounits);
}
.evaluare-cadru-didactic-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.evaluare-cadru-didactic-text8 {
  margin-left: 0px;
}
.evaluare-cadru-didactic-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.evaluare-cadru-didactic-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.evaluare-cadru-didactic-icon-group1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 767px) {
  .evaluare-cadru-didactic-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .evaluare-cadru-didactic-btn-group {
    display: none;
  }
  .evaluare-cadru-didactic-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .evaluare-cadru-didactic-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .evaluare-cadru-didactic-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .evaluare-cadru-didactic-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .evaluare-cadru-didactic-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .evaluare-cadru-didactic-header {
    padding: var(--dl-space-space-unit);
  }
  .evaluare-cadru-didactic-mobile-menu {
    padding: 16px;
  }
  .evaluare-cadru-didactic-footer {
    padding: var(--dl-space-space-unit);
  }
  .evaluare-cadru-didactic-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .evaluare-cadru-didactic-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
