<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teaching topics</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th> Topic Name </th>
            <th> Credits </th>
            <th> Examination Type </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${topics.empty}">
            <td colspan="2"> No Topics Available </td>
        </tr>
        <tr th:each="topic : ${topics}">
            <td><span th:text="${topic.topicName}"> Topic Name </span></td>
            <td><span th:text="${topic.credits}"> Credits </span></td>
            <td><span th:text="${topic.examinationType}"> Examination Type </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>