<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topic teachers</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th> Teacher Name </th>
            <th> Teacher entitling </th>
            <th> Teacher email </th>
            <th> Teacher NPC </th>
            <th> Addresses </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${teachers.empty}">
            <td colspan="2"> No Teachers Available </td>
        </tr>
        <tr th:each="teacher : ${teachers}">
            <td><span th:text="${teacher.name}"></span></td>
            <td><span th:text="${teacher.entitling}"></span></td>
            <td><span th:text="${teacher.email}"> </span></td>
            <td><span th:text="${teacher.npc}"> </span></td>
            <td>
                <p th:each ="address : ${teacher.addressList}">
                    <span th:text="${address.street}"> </span>
                    <span th:text="${address.city}"> </span>
                    <span th:text="${address.country}"> </span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>